#contactFormContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#contactForm {
  display: flex;
  flex-direction: column;
}

#contactForm input,
#contactForm textarea {
  margin-bottom: 10px;
  padding: 5px;
}

#contactForm button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
