.sec_fourth_numbers {
  width: 100%;
  padding: 60px 0;
}

.global_padding {
  /* Add padding styles if necessary */
}

.number_container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.numbers {
  display: flex;
  gap: 30px;
}

.numbers_item {
  background-color: #fff;
  border-radius: 8px;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 48px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 16px;
}

.numbers_number {
  color: #141719;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
}

@media (max-width: 991px) {
  .numbers {
    flex-direction: column;
    gap: 30px;
  }
}
